*.bak
*.la
*.lo
*.make
*.pc
*.stamp
*~
*.gir
*.typelib
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux
compile
config.*
configure
depcomp
doc/reference/html/
doc/reference/libgrss-*
doc/reference/tmpl/
doc/reference/version.xml
doc/reference/xml/
feed-marshal.c
feed-marshal.h
install-sh
intltool-*
libtool
ltmain.sh
m4/
missing
mkinstalldirs
stamp-h1
